/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

#cabecera {
  background-color: #182952;
  padding: 16px;
}

#cabecera h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

#secciones {
  padding: 30px;
}

#secciones h2 {
  margin: 0;
  font-size: 18px;
}

#secciones ul {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 24px;
}

#contenedor-objetivo {
  width: 100%;
}

#contenedor-objetivo div {
  margin-top: 24px;
  width: 100%;
  height: 200px;
  text-align: center;
}

#contenedor-objetivo img {
  width: 120px;
  height: 120px;
}






.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  /**background: #FFF;*/
  background: #2b3595;
  color: #e14594;
}

.col-60 {
  background: #E84A5F;
}

#footer {
 
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  width: 33.3%;
  height: 33.3%;
  float: left;
  border: solid 0.5px gray;
  box-sizing: border-box;
  text-align: center;
  animation: fadein 2s;
}

.piezas img {
  width: 100%;
  height: 100%;
}

#objetivo img {
  width: 40px;
}


















@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}











/*
flex
*/
#main-container {
  width: 1128px;
  margin: 3% auto;
  min-height: 100%;
  background-color: blue;
  display: flex;
}

#col-30 {
  height: 200px;
  width: 30%;
  background-color: green;

}

#col-55 {
  height: 200px;
  width: 55%;
  background-color: gray;
}

#col-15 {
  height: 200px;
  width: 15%;
  background-color: yellow;
}

#juego {
  background-color: #e14594;
  width: 612px;
  height: 624px;
}
